<div class="container">
  <div class="title">Currency converter</div>
  <div *ngIf="spinnerService.isVisible$ |async ">
    <app-spinner></app-spinner>
  </div>
  <ul class="currency-container">
    <li *ngFor="let item of convertService.currency" class="currency-item">
      <div *ngIf="item.currencyCodeA === 978">EURO</div>
      <div *ngIf="item.currencyCodeA === 840">USD</div>
      <div *ngIf="item.currencyCodeA === 985">PLN</div>
      <div>{{item.rateSell | currency:' UAH ' }} </div>
      <div *ngIf="item.rateCross">{{item.rateCross | currency:' UAH ' }} </div>
    </li>
  </ul>
</div>
